In [5]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd 
from sklearn import preprocessing
from tqdm import tqdm

fTrain = "data/dataTransaksi_PeDaS_2024_Train.zip"
dfTrain = pd.read_csv(fTrain, compression='zip')
print(len(dfTrain.trx_code.unique()), len(dfTrain.trx_id.unique()), len(dfTrain.rek_code.unique()))
dfTrain.info()

16615 16615 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16615 entries, 0 to 16614
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trx_code      16615 non-null  int64
 1   trx_id        16615 non-null  int64
 2   rek_code      16615 non-null  int64
 3   rek           16615 non-null  int64
 4   creationdate  16615 non-null  object
 5   type          16615 non-null  int64
 6   amount        16029 non-null  float64
 7   balance       16615 non-null  float64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.0+ MB

In [2]:
dfTrain.head()

,trx_code,trx_id,rek_code,rek,creationdate,type,amount,balance
0,50261,100085,1922,2526,2022-02-07 16:41:44+07:00,5,-100000.0,37.14
1,50260,100001,1922,2526,2022-02-07 16:02:58+07:00,5,-100000.0,100037.14
2,154447,775749,2346,9437,2022-03-07 08:53:06+07:00,5,-1000000.0,1679999.69
3,50285,564858,2346,9437,2022-03-03 18:41:16+07:00,1,100000.0,2609999.69
4,154240,565293,2212,5908,2022-03-03 20:22:31+07:00,1,100000.0,1200526.93

In [3]:
fTest = "data/dataTransaksi_PeDaS_2024_Test_Peserta.zip"
dfTest = pd.read_csv(fTest, compression='zip')
print(len(dfTest.trx_code.unique()), len(dfTest.trx_id.unique()), len(dfTest.rek_code.unique()))
dfTest.info()

35 35 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   trx_code      35 non-null     int64
 1   trx_id        35 non-null     int64
 2   rek_code      35 non-null     int64
 3   rek           35 non-null     int64
 4   creationdate  35 non-null     object
 5   type          0 non-null      float64
 6   balance       0 non-null      float64
dtypes: float64(2), int64(4), object(1)
memory usage: 2.0+ KB

In [4]:
dfTest.head()

,trx_code,trx_id,rek_code,rek,creationdate,type,balance
0,233822,371848437,1922,2526,2024-10-21 20:02:14+07:00,NaN,NaN
1,281563,370918907,2346,9437,2024-10-17 08:23:41+07:00,NaN,NaN
2,310541,370287760,2212,5908,2024-10-14 07:44:47+07:00,NaN,NaN
3,37018,370872355,3799,7665,2024-10-16 23:04:24+07:00,NaN,NaN
4,142422,362772092,7868,825,2024-10-01 00:13:21+07:00,NaN,NaN

In [ ]:
# Your Answer here

In [8]:
nama_kelompok = "..isi dengan nama kelompok anda.."

dfTest.to_csv(fTest.replace("Test_Peserta", nama_kelompok), index=False)
"Exported, silahkan upload jawaban anda ke panitia"

'Exported'