In [1]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd 
from sklearn import preprocessing
from tqdm import tqdm

fPeserta = "data/dataTransaksi_PeDaS_2024_Kelompok01.csv" # Contoh data (Random)
fGT = "data/dataTransaksi_PeDaS_2024_Test_Panitia.zip"
dfGT = pd.read_csv(fGT, compression='zip')
df = pd.read_csv(fPeserta)

if dfGT.shape[0] != df.shape[0]:
    print("warning banyak data jawaban peserta tidak sesuai")
dfGT.shape, df.shape,

((35, 9), (35, 7))

In [2]:
dfGT.head()

,trx_code,trx_id,rek_code,rek,creationdate,type,amount,balance,Occurence
0,233822,371848437,1922,2526,2024-10-21 20:02:14+07:00,5,-200000.00,905063.62,350
1,281563,370918907,2346,9437,2024-10-17 08:23:41+07:00,5,-2000000.00,1219.17,422
2,310541,370287760,2212,5908,2024-10-14 07:44:47+07:00,5,-100000.00,1023.37,352
3,37018,370872355,3799,7665,2024-10-16 23:04:24+07:00,5,-50000.00,121557.59,375
4,142422,362772092,7868,825,2024-10-01 00:13:21+07:00,7,-735.64,3942.57,447

In [4]:
from darts.metrics import smape
from darts import TimeSeries

gt = TimeSeries.from_values(dfGT['balance'])
pred = TimeSeries.from_values(df['balance'])

skor = smape(gt,pred)
print("Nilai SMAPE = ", skor)

Nilai SMAPE =  165.63966367725382